.App {
  min-height: 100vh;
  display: flex;

  .AppMenu {
    width: 35px;
    position: relative;

    .Logo {
      line-height: 50px;
      padding-left: 5px;
      background-color: #304156;
    }

    .Menu {
      position: absolute;
      background-color: #eaeef2;
      border-right: 1px solid #c3c3c3;
      width: 35px;
      z-index: 10;
      padding-top: 10px;
      height: calc(100% - 50px);
      transition: width 0.2s;

      &:hover {
        width: 215px;
      }

      overflow: hidden;

      .Item {
        .Content {
          width: 215px;
          height: 35px;
          color: rgba(0, 0, 0, 0.85);

          .anticon {
            font-size: 20px;
            line-height: 35px;
            width: 35px;
            vertical-align: middle;
            color: rgba(0, 0, 0, 0.6);
          }
        }

        &.active {
          .Content {
            color: #0185FF;
            background-color: #ffffff;
          }
        }
      }
    }
  }

  .AppContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .AppHeader {
      height: 50px;
      background-color: #304156;
      display: flex;
      justify-content: right;

      .Center {
        flex-grow: 1;
      }

      .Account {
        padding-right: 20px;
        line-height: 50px;
        color: #ffffff;
        cursor: pointer;

        .anticon {
          vertical-align: middle;
          margin-left: 5px;
        }
      }
    }
  }
}

.ChangePwd {
  .Buttons {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;

    button+button {
      margin-left: 10px;
    }
  }
}