.AddPlanTask {
    .Line {
        display: flex;
        .Middle {
            width: 50%;
        }
    }
    .Buttons {
        text-align: center;
        margin-top: 20px;
        button + button {
            margin-left: 10px;
        }
    }
    .Editor{
        padding: 5px 0;
        border-radius: 5px;
        border: #D8DADD 1px solid;
    }
    .RootBasicScenario {
        .ant-radio-wrapper {
            padding: 5px 0;
        }
        .ant-form-item {
            display: inline-block;
        }
        .Time {
            width: 83px;
        }
        .Sep {
            font-size: 14px;
            line-height: 30px;
            margin: 0 8px;
        }
        .Format {
            color: #FF5656;
            font-size: 12px;
            background-color: #FFFAFA;
            border: #FFE3E3 1px solid;
            border-radius: 4px;
            padding: 2px 8px;
            margin: 0 8px;
        }
    }
}

.TimePicker {
    display: flex;
    .Time {
        width: 83px;
    }
    .Sep {
        font-size: 14px;
        line-height: 30px;
        margin: 0 8px;
    }
    .Format {
        color: #FF5656;
        font-size: 12px;
        background-color: #FFFAFA;
        border: #FFE3E3 1px solid;
        border-radius: 4px;
        padding: 2px 8px;
        margin: 5px 8px;
        height: 22px;
    }
}