.IDEScriptUpdate {
    .Card {
        margin: 20px;
        padding: 30px;
    }
    .Line {
        display: flex;
        .Middle {
            width: 50%;
            padding-right: 10px;
        }
    }
    .Info{
        line-height: 32px;
        color: #41C170;
        font-size: 14px;
        .anticon {
            font-size: 18px;
            line-height: 32px;
            margin-right: 10px;
            margin-left: 20px;
            vertical-align: middle;
        }
    }
    .ant-form-item-label {
        min-width: 70px;
    }
    .Editor{
        padding: 5px 0;
        margin-bottom: 10px;
        border-radius: 5px;
        border: #D8DADD 1px solid;
    }
    .ScriptParam {
        margin-top: 10px;
    }
    .Buttons {
        text-align: center;
        button + button {
            margin-left: 10px;
        }
    }
}
