<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huawei.user.mapper.UserMapper">
    <select id="getAuthByRole" parameterType="String" resultType="String">
        SELECT auth_name
        FROM emergency_auth
        WHERE role_name = #{role}
    </select>
    <select id="selectUserByName" parameterType="String" resultType="com.huawei.user.entity.UserEntity">
        SELECT user_name, nick_name, password, role_name AS role,enabled, group_name
        FROM emergency_user
        WHERE user_name = #{userName}
    </select>
    <select id="countByName" parameterType="String" resultType="Integer">
        SELECT COUNT(1)
        FROM emergency_user
        WHERE user_name = #{userName}
    </select>

    <insert id="insertUser" parameterType="com.huawei.user.entity.UserEntity">
        INSERT INTO NUSER (created_date, last_modified_date, password, enabled, role_name, user_id, user_name)
        values (#{createTime}, #{updateTime}, #{password}, #{enabled}, #{role}, #{userName}, #{nickName})
    </insert>

    <insert id="insertUserToEmergency" parameterType="com.huawei.user.entity.UserEntity">
        INSERT INTO emergency_user (created_date, last_modified_date, password, enabled, role_name, user_name, nick_name, group_name)
        values (#{createTime}, #{updateTime}, #{password}, #{enabled}, #{role}, #{userName}, #{nickName}, #{groupName})
    </insert>

    <select id="listUser" parameterType="com.huawei.user.entity.UserEntity"
            resultType="com.huawei.user.entity.UserEntity">
        SELECT
        user_name,
        nick_name,
        group_name,
        CASE
        role_name
        WHEN 'ADMIN' THEN
        '管理员'
        WHEN 'APPROVER' THEN
        '审核员'
        WHEN 'OPERATOR' THEN
        '操作员'
        END AS role,
        last_modified_date AS updateTime,
        CASE
        enabled
        WHEN 'T' THEN
        '正常'
        WHEN 'F' THEN
        '失效'
        END AS enabled
        FROM
        emergency_user
        <where>
            <if test="userName!=null and userName!=''">
                AND user_name LIKE CONCAT('%',#{userName},'%') ESCAPE '/'
            </if>
            <if test="nickName!=null and nickName!=''">
                AND nick_name LIKE CONCAT('%',#{nickName},'%') ESCAPE '/'
            </if>
            <if test="role!=null and role!=''">
                AND role_name = #{role}
            </if>
            <if test="enabled!=null and enabled!=''">
                AND enabled = #{enabled}
            </if>
        </where>
    </select>

    <update id="updateEnableByName">
        UPDATE emergency_user
        SET enabled = #{enable},last_modified_date=#{timestamp}
        WHERE user_name IN
        <foreach collection="usernames" item="userName" index="index" open="(" close=")" separator=",">
            #{userName}
        </foreach>
    </update>

    <update id="updatePwdByName">
        UPDATE emergency_user
        SET password          = #{password},
            last_modified_date=#{timestamp}
        WHERE user_name = #{userName}
    </update>

    <update id="updateEmergencyUser" parameterType="com.huawei.user.entity.UserEntity">
        UPDATE emergency_user
        SET nick_name = #{nickName},role_name = #{role},last_modified_date=#{updateTime},group_name = #{groupName}
        WHERE user_name = #{userName}
    </update>

    <update id="updateUser" parameterType="com.huawei.user.entity.UserEntity">
        UPDATE NUSER
        SET user_name         = #{nickName},
            role_name         = #{role},
            last_modified_date=#{updateTime}
        WHERE user_id = #{userName}
    </update>

    <select id="getGroupByUser" parameterType="String" resultType="String">
        SELECT group_name
        FROM emergency_user
        WHERE user_name = #{userName}
    </select>

    <select id="approverSearch" parameterType="String" resultType="String">
        SELECT user_name
        FROM emergency_user
        WHERE group_name = #{groupName}
          AND role_name = 'APPROVER'
    </select>

    <select id="adminApproverSearch" parameterType="String" resultType="String">
        SELECT user_name
        FROM emergency_user
        WHERE group_name = #{groupName}
          AND (role_name = 'APPROVER' OR role_name = 'ADMIN')
    </select>
</mapper>